@import "slick.scss";
@import "slick-theme.scss";

.product {
  font-family: "Mont", sans-serif;
  max-width: 320px;
}
.productSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}
.currentSelectedVariant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}
.productOptions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.unit-option-label {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
}
.unit-option-label:first-child {
  margin-right: 0.5rem;
}
.unit-option {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: 3px solid lightgray;
  border-radius: 4px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  font-weight: 700;
  cursor: pointer;
}
.unit-option:checked {
  border-color: black;
}
.unit-price {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 5px 0 0 0;
}
.single-product-price {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.unit-compare-price {
  color: gray;
  text-decoration: line-through;
}
.sale-price {
  color: red;
}
.productVariants {
  display: flex;
  margin-bottom: 1rem;
}
.variant-option-label {
  margin-right: 1rem;
  position: relative;
  width: 45px;
  height: 45px;
  color: transparent;
  border-radius: 4px;
}
.variant-option[data-value="black"] {
  background-color: black;
}
.variant-option[data-value="brown"] {
  background-color: #523737;
}
.variant-option[data-value="navy"] {
  background-color: #091d42;
}
.variant-option[data-value="gray"] {
  background-color: #8a8a8a;
}
.variant-option[data-value="black-brown"] {
  background-image: url(https://uploads-ssl.webflow.com/5e70f8e5d7461820999a0cf5/5e719aadd37a816e1a63b421_black-brown.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.unavailable {
  opacity: 0.35;
}
.variant-option {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 700;
  cursor: pointer;
}
.variant-option:checked {
  border: 3px solid black;
  box-shadow: inset 0 0 0 3px white;
}
.addToCartWrapper {
  display: flex;
  margin-bottom: 1rem;
}
.addToCartWrapper .quantity {
  margin-right: 0.5rem;
}
.quantity {
  position: relative;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity input,
.quantity .quantity-button {
  height: 45px;
}
.quantity input {
  width: 45px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.65;
  display: block;
  padding: 0 12px;
  margin: 0;
  text-align: center;
  border: 1px solid #ccc;
}
.quantity .quantity-button {
  font-size: 18px;
  font-weight: 300;
  width: 30px;
  border-style: solid;
  border-color: #ccc;
  border-collapse: collapse;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.quantity .quantity-up {
  border-width: 1px 1px 1px 0px;
}
.quantity .quantity-down {
  border-width: 1px 0px 1px 1px;
}
#cart .quantity input,
#cart .quantity-button {
  height: 32px;
}
#cart #checkout {
  width: 100%;
}
.addToCart,
.checkoutButton {
  width: 100%;
}
.btn {
  font-family: "Mont", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #BE9503;
  padding: 0 1.2rem;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: none;
  &.secondary {
    background: white;
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
  }
}
.btn:disabled {
  opacity: 0.5;
}
#overlay, #modalOverlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  z-index: 3;
  transition: 0.35s all ease-in-out;
  height: 100%;
}
#cart {
  font-family: "Mont", sans-serif;
  visibility: hidden;
  background: white;
  opacity: 0;
  height: 100%;
  width: 100%;
  max-width: 320px;
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 4;
  transition: 0.35s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cartWrapper, #cartUpsells {
  padding: 1.6rem;
}
.cartUpsellTitle {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2rem;
}
body.cartOpen {
  overflow: hidden;
}
body.cartOpen #overlay,
body.modalOpen #modalOverlay {
  visibility: visible;
  opacity: 1;
  z-index: 3;
  transition: 0.35s all ease-in-out;
}
body.cartOpen #cart {
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 4;
  transition: 0.35s all ease-in-out;
}
#cartEmpty {
  text-align: center;
  line-height: 1.5;
}
#cartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #ccc;
}
#cartHeader h3 {
  margin: 0;
}
#closeCart, #closeModal {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}
.cart-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.cart-item img {
  max-width: 80px;
  width: 100%;
  height: auto;
  margin-right: 0.6rem;
}
.cart-item-title {
  font-weight: 700;
  font-size: 0.9rem;
  margin: 0;
}
.cart-item-subtitle {
  color: #777;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0 0 5px 0;
}
.cart-item-free-gift-price {
  color: #e65353;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0 0 5px 0;
}
.cart-item-price {
  margin: 0;
  margin-bottom: 0.6rem;
}
.cart-item-free-gift-regular-price {
  text-decoration: line-through;
  color: #777;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cart-item-remove {
  display: inline-block;
  font-size: 0.8rem;
  color: gray;
  text-decoration: underline;
  margin-top: 0.6rem;
  cursor: pointer;
}
.spinner {
  display: none;
  width: 24px;
  height: 24px;
}
#cartUpsells {
  border-top: 1px solid #eee;
  padding-top: 0.75rem;
}
.upsellItem {
  display: flex;
  align-items: center;
  .upsellItemDetails {
    flex: 1;
  }
  .upsellItemImage {
    width: 80px;
    height: auto;
    margin-right: 1rem;
  }
  
  .addToCart {
    font-size: 0.8rem;
    height: 35px;
    width: auto;
  }
}
.upsellItemTitle {
  display: inline-block;
  font-weight: 600;
  font-size: 0.85rem;
  margin: 0 0 0.5rem 0;
  text-decoration: underline;
  cursor: pointer;
}
.upsellItemPrices {
  font-size: 0.8rem;
  margin: 0 0 0.5rem 0;
}
.upsellProductOption {
  margin-bottom: 0.5rem;
}
#upsellItemModal {
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  height: max-content;
  max-width: 800px;
}
#fullscreenUpsellModal {
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  #fullscreenUpsellModalContainer {
    position: relative;
    padding: 1.5rem;
    .fullscreenUpsellModalSubhead {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    h3 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }
  .upsellHighlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6rem;
    max-width: 64rem;
  }
  .upsellHighlightItem {
    display: flex;
    align-items: center;
    img {
      margin-right: 1rem;
    }
    p {
      max-width: 14rem;
      font-size: 0.9rem;
      margin-right: 0.4rem;
    }
  }

}
.upsellModal {
  display: none;
  font-family: 'Mont', sans-serif;
  border-radius: 2px;
  background-color: #fff;
  position: fixed;
  margin: auto;
  overflow: auto;
  z-index: 4;
  #upsellModalContainer {
    position: relative;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .upsellItemGalleryContainer {
    margin-right: 1rem;
    max-width: 50%;
    font-family: "slick";
  }
  .upsellItemDetails {
    flex: 1;
  }
  .upsellItemTitle {
    font-size: 1rem;
    text-decoration: none;
  }
  .upsellProductOption {
    display: block;
    margin-bottom: 0.75rem;
    min-width: 90px;
  }
  .upsellItemDescription {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  #closeModal {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
#fullscreenUpsellModal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  h3 {
    font-size: 32px;
  }
  .upsellItemListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .fullscreenUpsellOfferText {
    color: red;
  }
  .fullscreenUpsellProduct {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    padding: 0 0.5rem;
  }
  .fullscreenUpsellItemGalleryContainer {
    min-width: 0;
    min-height: 0;
  }
  .fullscreenUpsellImage {
    width: 100%;
    height: auto;
  }
  .upsellHighlightItem img {
    width: 80px;
    height: auto;
  }
  #skipfullscreenUpsell {
    text-align: center;
    margin: 3rem auto;
  }
}
@media only screen and (max-width: 768px) {
  #upsellItemModal {
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    .upsellItemGalleryContainer {
      padding-top: 1rem;
      max-width: 100%;
    }
  }
  #fullscreenUpsellModal {
    height: 100%;
    overflow: auto;
    padding-bottom: 6rem;
    padding-top: 4rem;
    .fullscreenUpsellProduct {
      flex: none;
      width: 100%;
      margin-bottom: 2rem;
    }
    #skipfullscreenUpsellBar {
      background: white;
      box-shadow: 1px -2px 12px 0px rgba(0, 0, 0, 0.25);
      text-align: center;
      padding: 1rem;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    #skipfullscreenUpsell {
      margin: 0 auto;
    }
  }
}